*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b2dfdb;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.android {
  background-color: #181918;
  padding: 8vh 1.5vh;
  border-radius: 6vh;
  position: absolute;
}

.screen {
  width: 40vh;
  height: 71.1vh;
  position: relative;
  background-color: #000;
  max-width: 100%;
  overflow: hidden;
}

.android, .screen {
  border: 0.5vh solid #000;
  z-index: 4;
}

.status-bar {
  width: 40vh;
  height: 2vh;
  position: relative;
  background-color: #F57C00;
  z-index: 3;
}

.status-bar-icons {
  height: 1vh;
  filter: opacity(50%) brightness(200%);
  position: absolute;
  margin: 0.4vh auto;
  right: 2vh;
}

.app-bar {
  width: 40vh;
  height: 6vh;
  position: relative;
  background-color: #FF9800;
  filter: drop-shadow(0 1px 1px gray);
  z-index: 3;
}

.app-bar h1 {
  font-family: Roboto, sans-serif;
  font-size: 2.2vh;
  font-weight: 400;
  color: #fff;
  position: absolute;
  margin: 2vh auto 2vh 7vh;
  letter-spacing: 0.1vh;
}

.app-bar img {
  width: 2vh;
}

#back-arrow {
  position: absolute;
  margin: 2vh auto 2vh 2vh;
}

#account {
  position: absolute;
  margin: 2vh auto 2vh 35vh;
}

.map-box {
  width: 40vh;
  position: relative;
  filter: drop-shadow(0 1px 2px gray);
  border: 0;
  z-index: 2;
}

.current-location {
  width: 3.5vh;
  position: absolute;
  top: 8vh;
  left: 10vh;
  z-index: 2;
}

.bus-selected {
  width: 6vh;
  position: absolute;
  top: 17vh;
  left: 3vh;
  filter: drop-shadow(0 3px 4px gray);
  z-index: 2;
}

.bus-nonselected {
  width: 5vh;
  position: absolute;
  z-index: 2;
}

#one {
  top: 7vh;
  right: 8vh;
  filter: drop-shadow(0 2px 2px gray);
}

#two {
  bottom: 2vh;
  right: 2vh;
  transform: rotate(90deg);
  filter: drop-shadow(2px 0px 2px gray);
}

.bus-stop-location {
  width: 3.2vh;
  position: absolute;
  top: 15vh;
  left: 15.5vh;
  filter: drop-shadow(0 2px 2px gray);
  z-index: 2;
}

.bus-container {
  width: 40vh;
  height: 29vh;
  position: relative;
  overflow: scroll;
}

.bus-line {
  width: 40vh;
  height: 9vh;
  position: relative;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 0;
}

.bus-line:hover {
  background-color: #FF9800;
  border-bottom: 0;
  filter: drop-shadow(0 1.5px 2px gray);
  z-index: 1;
}

.bus-line:hover h3 {
  color: #fff;
}

.bus-line:hover h4 {
  color: #fff;
}

.bus-line:hover h5 {
  color: #fff;
}

.bus-line:hover h6 {
  color: #fff;
}

.bus-line:hover img {
  filter: brightness(0) invert(1);
}

.eta-time {
  width: 6vh;
  height: 6vh;
  position: absolute;
  margin: 1.5vh 0 1vh 2vh;
  display: flex;
  justify-content: center;
  border-radius: 1vh;
  background-color: #009688;
  filter: drop-shadow(0 1.5px 2px gray);
}

.eta-time h1 {
  font-family: Roboto, sans-serif;
  font-size: 1.5vh;
  font-weight: 500;
  text-align: center;
  color: #fff;
  position: absolute;
  margin-top: 1.5vh;
  letter-spacing: auto;
}

.eta-time h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.2vh;
  font-weight: 500;
  text-align: center;
  color: #fff;
  position: absolute;
  margin-top: 3.5vh;
  letter-spacing: 0.1vh;
}

.bus-line h3 {
  font-family: Roboto, sans-serif;
  font-size: 3.8vh;
  font-weight: 500;
  color: #000;
  position: absolute;
  margin: 1.7vh auto 1.5vh 9.5vh;
  letter-spacing: 0.1vh;
}

.right-chevron {
  width: 1.4vh;
  position: absolute;
  top: 5.7vh;
  left: 9.7vh;
  z-index: 1;
}

.bus-line h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.7vh;
  font-weight: 300;
  color: #757575;
  position: absolute;
  margin: 5.7vh auto auto 11.6vh;
  letter-spacing: 0.1vh;
}

.bus-times {
  display: flex;
  justify-content: flex-end;
  margin-right: 3vh;
}

.bus-times h5 {
  font-family: Roboto, sans-serif;
  font-size: 2vh;
  font-weight: 400;
  color: #000;
  position: absolute;
  margin: 2.2vh 0vh auto auto;
  padding-right: 0.8vh;
  letter-spacing: 0.05vh;
}

.real-time {
  width: 1.5vh;
  position: absolute;
  margin: 1.4vh 0vh auto 0.3vh;
  z-index: 1;
}

.bus-times h6 {
  font-family: Roboto, sans-serif;
  font-size: 1.4vh;
  font-weight: 300;
  color: #757575;
  position: absolute;
  margin: 4.4vh 0vh auto auto;
  text-align: right;
  line-height: 1.1em;
  letter-spacing: 0.05vh;
}
